body{
    background-color: lightblue;
    text-align: center;
}
ul{
    background-color: #d75555;
    text-align: end;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}